@import "tailwindcss";
@import "@nuxt/ui";

@theme {

  /* 'deep-blue': '#002d5c',
      'dark-red': '#5a1300', */
      
  --color-darkBgStart: #0099ff;
  --color-darkBgEnd: #ff6a00;

  --color-bgWhite:#f9f9fb;
  --color-bgBlack:#00000f;

  --color-lightBgEnd: #5c92b5;
  --color-lightBgStart: #e3f4ff;

  --color-darkText: #ffffff;
  --color-lightText: #000000;

  --color-darkSecondary: #0d1828;
  --color-lightSecondary: #54a799;
  --color-darkButton: black;
}
:root {
  --purpleShadow: 0 4px 14px rgba(128, 0, 255, 0.5);
  --cyanShadow: 0 4px 14px rgba(94, 206, 220, 0.5);
}
